<div class="container my-5">
    <h3 class="fw-bold">Latest Post</h3>
    <div class="row mx-auto lp-content">
        <div class="col-md-4 mb-3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Paris" class="img-lp">
                    </div>
                    <div class="flip-box-back">
                        <h2 class="mt-3">Tower of Fantasy</h2>
                        <p>What an amazing city</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Paris" class="img-lp">
                    </div>
                    <div class="flip-box-back">
                        <h2 class="mt-3">Tower of Fantasy</h2>
                        <p>What an amazing city</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Paris" class="img-lp">
                    </div>
                    <div class="flip-box-back">
                        <h2 class="mt-3">Tower of Fantasy</h2>
                        <p>What an amazing city</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark text-white py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Avatar" class="image">
            </div>
            <div class="col-md-8">
                <h3 class="fw-bold color-gold">Noah Hearts</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam recusandae blanditiis animi ipsam, doloremque veritatis libero nostrum dignissimos magni numquam eum debitis at, voluptate, molestiae nulla tempora est sed praesentium.</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 py-3">
    <h3 class="fw-bold color-gold">Popular Post</h3>
    <div class="row mx-auto">
        <div class="col-md-4 mb-3">
            <div class="container-img">
                <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Hello World</div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="container-img">
                <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Hello World</div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="container-img">
                <img src="https://i.ytimg.com/vi/m0zAob0AZy0/maxresdefault.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Hello World</div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="bg-dark py-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="color-gold">Tentang Molebuild</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et placeat architecto excepturi ipsa distinctio est hic consectetur assumenda facere modi nesciunt ab nobis accusantium, expedita culpa. Doloremque dolorum quibusdam corrupti.</p>
            </div>
            <div class="col-md-6 text-end">
                <h3 class="color-gold">Check out our other platform</h3>
                <i class="fa fa-youtube-play fa-2x mx-3"></i>
                <i class="fa fa-instagram fa-2x mx-3"></i>
                <i class="fa fa-twitter-square fa-2x mx-3"></i>
                <i class="fa fa-linkedin-square fa-2x mx-3"></i>
                <i class="fa fa-facebook-square fa-2x mx-3"></i>
                <br>
                <br>
                <p>COPYRIGHT 2021 © MOLEBUILD, ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</div>